{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'includes/head.html' %}
  </head>
  <body>
    <div id="page" class="site">
      {% include 'includes/navbar.html' %}

      {% include 'includes/header.html' %}

      <div id="content" class="site-content">
        <div id="primary" class="content-area">
          <main id="main" class="site-main">
            {% block content %}
            
            {% endblock %}
          </main>
          <!-- #main -->
        </div>
        <!-- #primary -->
      </div>
      <!-- #content -->

      {% include 'includes/footer-home.html' %}

      {% include 'includes/modals.html' %}
    </div>
    <!-- #page -->

    <script src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'js/jquery-plugins.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
