{% load static %}
<div class="row prod-items prod-items-2">
  <table class="table table-hover table-dark">
    <thead>
      <tr>
        
        <th class="text-primary" scope="col">Curso</th>
        <!-- <th class="text-primary" scope="col">Cantidad</th> -->
        <th class="text-primary" scope="col">Total</th>
      </tr>
    </thead>
    <tbody>
      {% for curso in mis_cursos %}
      <tr>
        <td><a href="curso/{{curso.producto_id}}">{{curso}}</a></td>
        <!-- <td class="text-primary">{{curso.cantidad}}</td> -->
        <td class="text-primary">{{curso.subtotal}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<!--
<ul class="page-numbers">
  <li><span class="page-numbers current">1</span></li>
  <li><a class="page-numbers" href="#">2</a></li>
  <li><a class="page-numbers" href="#">3</a></li>
  <li><a class="page-numbers" href="#">4</a></li>
  <li>
    <a class="next page-numbers" href="#"><i class="fa fa-angle-right"></i></a>
  </li>
</ul>-->